@using static ASPA008_1.Services.CelebritiesAPIExtensions.CountryCodes
@using static  ASPA008_1.Services.CelebritiesAPIExtensions;
@inject CelebrityTitles titles

@{
    //CelebritiesLayout.cshtml
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@titles.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" />
    <script src="~/js/Celebrities.js" asp-append-version="true"></script>
    <script>
        function onChange(fileInput) {
            // Показываем имя выбранного файла на кнопке
            const fileName = fileInput.files[0] ? fileInput.files[0].name : 'Выберите файл';
            document.getElementById('butupload').textContent = fileName;
        }
    </script>

</head>
<body>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <h1>@titles.Title</h1>

<div>
    <a href="/" style="margin-left: 10px;"> Home </a>
    <a href="/" style="margin-left: 10px;"> Life Events </a>

</div>

<hr />

@RenderSection("subhead", false)

<div> @RenderBody() </div>

@RenderSection("foot", false)

<hr />

&#169; BSTU @*@titles.Copyright*@

<environment include="Development,Staging">

    <i>Development</i>

</environment>

</body>
</html>